<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpg" 
            class="img-fluid" id="foto-de-perfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Cristian Torrecillas</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, magni cumque repellendus minima
                    temporibus nemo voluptatum a architecto enim itaque, aliquid labore possimus vitae nihil nisi
                    praesentium distinctio doloremque repudiandae?</p>
            </span>
        </div>
    </div>
