<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1> Estudio 1</h1> </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure ex cupiditate autem quisquam sit adipisci dolorum similique deserunt illo saepe quod, culpa voluptatibus sapiente. Minus labore aliquid ut reprehenderit.</p>
        </ul>
        <ul>
            <li> <h1> Estudio 2</h1> </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure ex cupiditate autem quisquam sit adipisci dolorum similique deserunt illo saepe quod, culpa voluptatibus sapiente. Minus labore aliquid ut reprehenderit.</p>
        </ul>
        <ul>
            <li> <h1> Estudio 3</h1> </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure ex cupiditate autem quisquam sit adipisci dolorum similique deserunt illo saepe quod, culpa voluptatibus sapiente. Minus labore aliquid ut reprehenderit.</p>
        </ul>

    </div>

</div>
